$color-primary-1: #19bca0;
$color-primary-2: #028cc7;
$color-primary-3: #ffda1f;
$color-primary-4: #ab5bd6;
$color-primary-5: #3e3a71;

$color-primary-1-rgb: rgba(24, 188, 160, 1);
$color-primary-2-rgb: rgba(2, 140, 198, 1);
$color-primary-3-rgb: rgba(255, 218, 31, 1);
$color-primary-4-rgb: rgba(170, 91, 214, 1);
$color-primary-5-rgb: rgba(61, 58, 112, 1);

$color-background-gray: #262626;
$color-background-gray-light: #464646;

$color-white: #fff;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: $color-background-gray;
  color: $color-white;
}

.list-group-item {
  line-height: 2.5;
}
