html {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: $color-primary-1;
  font-size: 2.5rem;

  &:hover {
    text-decoration: none;
    color: $color-primary-1;
  }
}
#btn-new-ship {
  color: $color-primary-4;

  &:hover {
    color: $color-primary-4;
  }
}
#btn-find-ship {
  color: $color-primary-1;

  &:hover {
    color: $color-primary-1;
  }
}
.title h1 {
  font-size: 8.5rem;
  font-family: "Nunito", sans-serif;

  display: inline-block;
  background-image: linear-gradient(
    290deg,
    $color-primary-1 0%,
    $color-primary-4 60%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  transform: skewX(20deg) rotate(3deg);
  text-align: center;
  width: 100%;
}
#main-form h2 {
  text-shadow: 1px 1px 3px $color-background-gray-dark;
  font-size: 3.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input {
  font-size: 1.5rem;
  color: $color-primary-3;
}
label {
  font-size: 2rem;
  color: $color-primary-3;
}
#create-new h2 {
  color: $color-primary-4;
}
#find-my-ship h2 {
  color: $color-primary-1;
}
#game-description {
  font-size: 2.2rem;
}
