.container-custom {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
}
.skew {
  transform: skewX(-20deg) rotate(-5deg);
  background: $color-background-gray-light;
  margin-top: 8rem;
  max-height: 8rem;
}
.title {
  display: flex;
  & img {
    margin-left: -1.5rem;
  }
}
#main-form {
  min-height: 20rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#create-new,
#find-my-ship {
  background: $color-background-gray-light;
  padding: 5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 45rem;
}
#game-description {
  background: $color-background-gray-light;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
}
#create-new {
  -webkit-box-shadow: 5px 5px 0px -3px $color-primary-4-rgb;
  -moz-box-shadow: 5px 5px 0px -3px $color-primary-4-rgb;
  box-shadow: 5px 5px 0px -3px $color-primary-4-rgb;
}
#find-my-ship {
  -webkit-box-shadow: 5px 5px 0px -3px $color-primary-1-rgb;
  -moz-box-shadow: 5px 5px 0px -3px $color-primary-1-rgb;
  box-shadow: 5px 5px 0px -3px $color-primary-1-rgb;
}
#find-modal {
  max-width: 50rem;
}
#find-ship-form {
  & .input-row {
    display: flex;
    justify-content: space-between;
    /* width: 40%; */
    max-width: 30rem;
    margin: 1.5rem auto;
  }
}
#btn-new-ship,
#btn-find-ship {
  background: $color-white;
  padding: 1.5rem 3rem;
  position: relative;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: all 0.7s;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transform: rotateX(90deg);
    z-index: -1;
    border-radius: 0.2rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transform: rotateY(90deg);
    z-index: -1;
    border-radius: 0.2rem;
  }
  &:hover::before {
    transform: rotateX(0deg);
  }
  &:hover::after {
    transform: rotateY(0deg);
  }
}
#btn-new-ship {
  border: 0.2rem solid $color-primary-4;
  &::before {
    background: $color-background-gray-light;
  }
  &::after {
    background: $color-background-gray-light;
  }
  &:hover {
    color: $color-primary-4-light !important;
    border: 0.2rem solid $color-primary-4-light;
  }
}
#btn-find-ship {
  border: 0.2rem solid $color-primary-1;
  &::before {
    background: $color-background-gray-light;
  }
  &::after {
    background: $color-background-gray-light;
  }
  &:hover {
    color: $color-primary-1-light !important;
    border: 0.2rem solid $color-primary-1-light;
  }
}

/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
#myFindModal {
  background-color: $color-primary-1; /* Fallback color */
  background-color: $color-primary-1-rgb-light; /* Black w/ opacity */
}
#myNewModal {
  background-color: $color-primary-4; /* Fallback color */
  background-color: $color-primary-4-rgb-light; /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: $color-background-gray-light;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 65%;
  color: black;
  position: relative;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $color-primary-3;
  text-decoration: none;
  cursor: pointer;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.5rem auto;
}
.input-col {
  min-width: 30rem;
  display: flex;
  justify-content: space-between;
}
