<div class="main-container">

  <div class="gp-header">
    <img src="/img/logo.png" class="gp-logo" alt="Logo">
    <div class="pg-welcome">
      Welcome to your command center.<br>
      We're standing by for orders.
    </div>
    <div class="btn-gp-signout">Sign Out</div>
  </div>
  {{!-- head/body divider line --}}
  <div class="h-line"></div>

  <div class="dashboard">

    <div class="rockets">
      <div class="rocket-title">
        Rockets
      </div>
      <div class="rocket-options"></div>
    </div>

    <div class="asteroid-div">
      <div class="rocket-title">
        Asteroids
      </div>

      <div class="asteroids">

      </div>

      <div class="inner">

        <div class="inner-dashboard">
          <div class="command-center">
            <div class="cmd-title">Command Center</div>
            <div class="funding wire">
              <div class="current-funds wire"></div>
              <div class="ores wire"></div>
            </div>
            <div class="actions wire">
              <div class="sell-ore wire"></div>
              <div class="buy-ship wire"></div>
            </div>
          </div>
        </div>

        <div class="stats">
          <div class="stats-center">
            <div class="stats-title">Stats</div>
            {{!-- <div class="stats-details">
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
              <div>ore</div>
            </div> --}}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>